@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* GLOBAL */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

.light_theme {
  --main-game-font-color: #000000;
	--bg-body: #2F9CE0;
	--bg-center-body: #cafaea;
	--bg-btn: #32f132;
	--bg-btn-hover: #18b918;
	--border-btn-hover: #8b8b8b;
	--bg-genius: #ffffff;
	--border-genius: #ffffff;
	--bg-next-level: #ffffff;
	--border-next-level: #000000;
	--bg-game-over: #ffffff;
	--border-game-over: #000000;
	--icon-theme-transform: scaleX(1);
}

.dark_theme {
	--main-game-font-color: #ffffff;
	--bg-body: #032d3e;
	--bg-center-body: #010f14;
	--bg-btn: #9f0c0c;
	--bg-btn-hover: #5e0404;
	--border-btn-hover: #000000;
	--bg-genius: #000000;
	--border-genius: #032d3e;
	--bg-next-level: #ffffff;
	--border-next-level: #000000;
	--bg-game-over: #ffffff;
	--border-game-over: #000000;
	--icon-theme-transform: scaleX(-1);
}

h1, h2, h3 {
	text-align: center;
}

h1 {
	color: var(--main-game-font-color);
	text-transform: uppercase;
}

body {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: var(--bg-body);
	background: radial-gradient(circle, var(--bg-center-body) 0%, var(--bg-body) 100%);
}

/* CLASSES GLOBAIS */
.btn {
	border: 1px solid transparent;
	padding: 5px;
	border-radius: 10px;
	font-size: 1rem;
	font-weight: 700;
	transition: 0.3s ease-in-out;
	text-decoration: none;

	box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.75);
}

.btn:hover {
	border: 1px solid var(--border-btn-hover);
	cursor: pointer;
}

.btn:disabled {
	display: none;
}

.btn_start {
	background-color: var(--bg-btn);
	color: var(--main-game-font-color);
}
.btn_start:hover {
	background-color: var(--bg-btn-hover);
}

.btn_red {
	color: #fff;
	background-color: #9f0c0c;
}
.btn_red:hover {
	background-color: #5e0404;
}

.btn_blue {
	color: #fff;
	background-color: #326ef1;
}
.btn_blue:hover {
	background-color: #183bb9;
}

.btn_green {
	color: #000;
	background-color: #32f132;
}
.btn_green:hover {
	background-color: #18b918;
}

/* MAIN GAME */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	display: flex;
	align-items: center;
	gap: 15px;
	margin-bottom: 10px;
}

.dark_mode {
	cursor: pointer;
	transition: 0.3s ease-in-out;
	transform: var(--icon-theme-transform);
}

.points {
	text-align: center;
	margin: 20px 0;
}

.score {
	color: var(--main-game-font-color);
}

.recorde {
	color: red;
}

.genius {
	display: grid;
	grid-template-areas: 'verde vermelho'
	'amarelo azul';
	grid-gap: 10px;
	border: 1px solid var(--bg-genius);
	background-color: var(--border-genius);
	border-radius: 100%;
	width: 300px;
	height: 300px;
}

.blue, .yellow, .red, .green {
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.blue:active, .yellow:active, .red:active, .green:active {
	transform: scale(0.9);
}
.blue:hover, .yellow:hover, .red:hover, .green:hover {
	opacity: 2;
}

.blue {
	grid-area: azul;
	background-color: blue;
	border-bottom-right-radius: 100%;
}

.yellow {
	grid-area: amarelo;
	background-color: yellow;
	border-bottom-left-radius: 100%;
}

.red {
	grid-area: vermelho;
	background-color: red;
	border-top-right-radius: 100%;
}

.green {
	grid-area: verde;
	background-color: green;
	border-top-left-radius: 100%;
}

.selected {
	opacity: 0.3;
	transform: scale(0.9);

	box-shadow: 6px 6px 86px 10px rgba(0,0,0,0.75) inset;
	-webkit-box-shadow: 6px 6px 86px 10px rgba(0,0,0,0.75) inset;
	-moz-box-shadow: 6px 6px 86px 10px rgba(0,0,0,0.75) inset;
}

.popover {
	background-color: var(--bg-next-level);

	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	padding: 10px;
	width: 300px;
	height: 350px;
	border-radius: 10px;
}

.next-level {
	box-shadow: 0px 0px 59px 13px #06b82de3;
	-webkit-box-shadow: 0px 0px 59px 13px#06b82de3;
	-moz-box-shadow: 0px 0px 59px 13px #06b82de3;

	border: 1px solid var(--border-next-level);
}

.game-over {
	background-color: var(--bg-game-over);

	box-shadow: 0px 0px 59px 13px #ff0000e3;
	-webkit-box-shadow: 0px 0px 59px 13px #ff0000e3;
	-moz-box-shadow: 0px 0px 59px 13px #ff0000e3;

	border: 1px solid var(--border-game-over);
}

.win, .defeat, .score2 {
	font-weight: 900;
}

.win { color: #32f132; }
.defeat { color: #9f0c0c; }
.score2 { 
	border-width: 3px 0 3px 0;
	border-style: double;
	width: 100%;
}

.popover_btns {
	width: 100%;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
}

.disabled {
	display: none;
}

footer {
	font-size: 12px;
	padding: 0 80px;
	margin-top: 50px;
	color: var(--main-game-font-color);
}
footer a{
	text-decoration: none;
	color: var(--main-game-font-color);
}
